</div> <footer class="footer mt-6" style="padding: 2rem;">
        <div class="content has-text-centered">
            <p>
                <strong>Sistema OS</strong> desenvolvido por <em>Pedro e Renan</em>.
                <br>
                &copy; 2026 Todos os direitos reservados.
            </p>
        </div>
    </footer>
</body>
</html>